.fondo_animacion {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: block;
}

.logo {
  display: block;
  width: auto;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  text-align: center;
}

.cabcecera_logo {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 36px 65px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.contenido {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.tarjeta_01 {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  height: 65vh;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #66f;
  font-family: Bitter, serif;
}

.titular {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 29px 40px 40px;
  font-family: 'DM Sans', sans-serif;
  color: #fff;
  font-size: 90px;
  line-height: 100px;
}

.tarjeta_02 {
  position: absolute;
  left: 24%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 47vh;
  max-width: 940vw;
  background-color: #f06078;
}

.titular02 {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px 40px 40px;
  font-family: 'DM Sans', sans-serif;
  color: #fff;
  font-size: 90px;
  line-height: 100px;
}

.fondo {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
}

.enlaces_contacto {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 38px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: 'DM Sans', sans-serif;
  color: #fff;
  text-decoration: none;
}

.link {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.2px;
  text-decoration: none;
}

.icon_red {
  padding: 19px 8px;
}

@media screen and (min-width: 1440px) {
  .logo {
    max-width: none;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
  }
  .cabcecera_logo {
    padding: 57px 151px;
  }
  .contenido {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .tarjeta_01 {
    max-width: 66%;
  }
}

@media screen and (max-width: 991px) {
  .cabcecera_logo {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    z-index: 2;
    padding-right: 20px;
    padding-left: 20px;
  }
  .tarjeta_01 {
    height: 75vh;
  }
  .titular {
    font-size: 80px;
  }
  .tarjeta_02 {
    left: 17%;
    height: 57vh;
  }
  .titular02 {
    font-size: 80px;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    width: 125px;
  }
  .tarjeta_01 {
    left: 20px;
    right: 20px;
    height: 72vh;
  }
  .titular {
    font-size: 63px;
    line-height: 100%;
  }
  .tarjeta_02 {
    height: 53vh;
  }
  .titular02 {
    font-size: 63px;
  }
}

@media screen and (max-width: 479px) {
  .fondo_animacion {
    height: 67%;
    -o-object-fit: fill;
    object-fit: fill;
  }
  .cabcecera_logo {
    padding-right: 20px;
    padding-left: 20px;
  }
  .tarjeta_01 {
    height: 60vh;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .titular {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 50px;
    line-height: 100%;
  }
  .tarjeta_02 {
    width: auto;
    height: 40vh;
  }
  .titular02 {
    padding: 0px 20px;
    font-size: 50px;
  }
  .fondo {
    -o-object-fit: fill;
    object-fit: fill;
  }
  .enlaces_contacto {
    display: block;
    margin-right: 20px;
    margin-left: 20px;
  }
  .icon_red {
    padding-left: 0px;
  }
}

