name: CI

on: [push]

env:
  NODE_ENV: production
  PORT: 3000
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '10.x'

      - name: Install dependencies
        run: yarn install
        env:
          NODE_ENV: development

      - name: Increase watchers limit
        run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p

      - name: Run unit tests
        run: yarn jest

      - name: Run integration tests
        uses: cypress-io/github-action@v2
        with:
          install: false
          browser: electron
          headless: true
          start: yarn run dev
          wait-on: 'http://localhost:3000'

      - name: Build app
        run: yarn build

      - uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: cypress-videos
          path: __tests__/e2e/videos
